<!DOCTYPE html>
<html>
<head>
  <title>GithubUserSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "angular.js" %>
	<%= javascript_include_tag "angular-resource.js" %>
	<%= javascript_include_tag "app.js" %>
	<%= javascript_include_tag "searchFactory.js" %>
	<%= javascript_include_tag "gitUserSearchController.js" %>

</head>
<body  ng-controller="GitUserSearchController as searchCtrl"> 

<%= yield %>

</body>
</html>